In [1]:
import pandas as pd
import json
import re

In [2]:
# Reading in OneMap Building JSON
# Source : https://github.com/xkjyeah/singapore-postal-codes/blob/master/buildings.json
building_df = pd.read_json (r"Data\buildings.json")
building_df["blk_street"] = building_df["BLK_NO"] + " " + building_df["ROAD_NAME"]

building_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141735 entries, 0 to 141734
Data columns (total 12 columns):
ADDRESS       141735 non-null object
BLK_NO        141735 non-null object
BUILDING      141735 non-null object
LATITUDE      141735 non-null float64
LONGITUDE     141735 non-null float64
LONGTITUDE    141735 non-null float64
POSTAL        141735 non-null object
ROAD_NAME     141735 non-null object
SEARCHVAL     141735 non-null object
X             141735 non-null float64
Y             141735 non-null float64
blk_street    141735 non-null object
dtypes: float64(5), object(7)
memory usage: 13.0+ MB

In [3]:
# Read in HDB Property Information 
# Source: https://data.gov.sg/dataset/hdb-property-information

hdb_df = pd.read_csv (r"Data\hdb-property-information.csv")
hdb_df['street'] = hdb_df['street'].replace(regex=[' RD'], value=' ROAD')
hdb_df['street'] = hdb_df['street'].replace(regex=[' STH'], value=' SOUTH')
hdb_df['street'] = hdb_df['street'].replace(regex=[' NTH'], value=' NORTH')
hdb_df['street'] = hdb_df['street'].replace(regex=['NTH '], value='NORTH ')
hdb_df['street'] = hdb_df['street'].replace(regex=['ST. '], value='SAINT ')
hdb_df['street'] = hdb_df['street'].replace(regex=[' CTRL'], value=' CENTRAL')
hdb_df['street'] = hdb_df['street'].replace(regex=['BT '], value='BUKIT ')
hdb_df['street'] = hdb_df['street'].replace(regex=['LOR '], value='LORONG ')
hdb_df['street'] = hdb_df['street'].replace(regex=[' AVE'], value=' AVENUE')
hdb_df['street'] = hdb_df['street'].replace(regex=[' ST'], value=' STREET')
hdb_df['street'] = hdb_df['street'].replace(regex=[' DR'], value=' DRIVE')
hdb_df['street'] = hdb_df['street'].replace(regex=['UPP '], value='UPPER ')
hdb_df['street'] = hdb_df['street'].replace(regex=[' CRES'], value=' CRESCENT')
hdb_df['street'] = hdb_df['street'].replace(regex=[' TER'], value=' TERRACE')
hdb_df['street'] = hdb_df['street'].replace(regex=['JLN '], value='JALAN ')
hdb_df['street'] = hdb_df['street'].replace(regex=[' CL'], value=' CLOSE')
hdb_df['street'] = hdb_df['street'].replace(regex=['KG '], value='KAMPONG ')
hdb_df['street'] = hdb_df['street'].replace(regex=[' GDNS'], value=' GARDENS')
hdb_df['street'] = hdb_df['street'].replace(regex=[' HTS'], value=' HEIGHTS')
hdb_df['street'] = hdb_df['street'].replace(regex=["C'WEALTH "], value='COMMONWEALTH ')
hdb_df['street'] = hdb_df['street'].replace(regex=[" PK"], value=' PARK')
hdb_df['street'] = hdb_df['street'].replace(regex=[" PL"], value=' PLACE')
hdb_df['street'] = hdb_df['street'].replace(regex=[" PLACEAINS"], value=' PLAINS')
hdb_df['street'] = hdb_df['street'].replace(regex=[" PLACEAZA"], value=' PLAZA')
hdb_df['street'] = hdb_df['street'].replace(regex=[" IND EST"], value=' INDUSTRIAL ESTATE')

hdb_df["blk_street"] = hdb_df["blk_no"] + " " + hdb_df["street"]

hdb_df = hdb_df.add_prefix('HDB_')
hdb_df = hdb_df.rename(columns={'HDB_blk_street': 'blk_street'})

hdb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12267 entries, 0 to 12266
Data columns (total 25 columns):
HDB_blk_no                   12267 non-null object
HDB_street                   12267 non-null object
HDB_max_floor_lvl            12267 non-null int64
HDB_year_completed           12267 non-null int64
HDB_residential              12267 non-null object
HDB_commercial               12267 non-null object
HDB_market_hawker            12267 non-null object
HDB_miscellaneous            12267 non-null object
HDB_multistorey_carpark      12267 non-null object
HDB_precinct_pavilion        12267 non-null object
HDB_bldg_contract_town       12267 non-null object
HDB_total_dwelling_units     12267 non-null int64
HDB_1room_sold               12267 non-null int64
HDB_2room_sold               12267 non-null int64
HDB_3room_sold               12267 non-null int64
HDB_4room_sold               12267 non-null int64
HDB_5room_sold               12267 non-null int64
HDB_exec_sold                12267 non-null int64
HDB_multigen_sold            12267 non-null int64
HDB_studio_apartment_sold    12267 non-null int64
HDB_1room_rental             12267 non-null int64
HDB_2room_rental             12267 non-null int64
HDB_3room_rental             12267 non-null int64
HDB_other_room_rental        12267 non-null int64
blk_street                   12267 non-null object
dtypes: int64(15), object(10)
memory usage: 2.3+ MB

In [4]:
merged_df = pd.merge(building_df, hdb_df, how='left', on="blk_street")

In [5]:
writer = pd.ExcelWriter('SingaporeBuilding.xlsx')
merged_df.to_excel(writer, "address") 
writer.save()

In [6]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 141735 entries, 0 to 141734
Data columns (total 36 columns):
ADDRESS                      141735 non-null object
BLK_NO                       141735 non-null object
BUILDING                     141735 non-null object
LATITUDE                     141735 non-null float64
LONGITUDE                    141735 non-null float64
LONGTITUDE                   141735 non-null float64
POSTAL                       141735 non-null object
ROAD_NAME                    141735 non-null object
SEARCHVAL                    141735 non-null object
X                            141735 non-null float64
Y                            141735 non-null float64
blk_street                   141735 non-null object
HDB_blk_no                   14971 non-null object
HDB_street                   14971 non-null object
HDB_max_floor_lvl            14971 non-null float64
HDB_year_completed           14971 non-null float64
HDB_residential              14971 non-null object
HDB_commercial               14971 non-null object
HDB_market_hawker            14971 non-null object
HDB_miscellaneous            14971 non-null object
HDB_multistorey_carpark      14971 non-null object
HDB_precinct_pavilion        14971 non-null object
HDB_bldg_contract_town       14971 non-null object
HDB_total_dwelling_units     14971 non-null float64
HDB_1room_sold               14971 non-null float64
HDB_2room_sold               14971 non-null float64
HDB_3room_sold               14971 non-null float64
HDB_4room_sold               14971 non-null float64
HDB_5room_sold               14971 non-null float64
HDB_exec_sold                14971 non-null float64
HDB_multigen_sold            14971 non-null float64
HDB_studio_apartment_sold    14971 non-null float64
HDB_1room_rental             14971 non-null float64
HDB_2room_rental             14971 non-null float64
HDB_3room_rental             14971 non-null float64
HDB_other_room_rental        14971 non-null float64
dtypes: float64(20), object(16)
memory usage: 40.0+ MB